@import url('https://fonts.googleapis.com/css2?family=K2D:wght@500&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet');

*,
:after,
:before {
  margin:0.5px;
  
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 100%; /* 100% = 16px = 1rem*/
}
h1, h2, h3 {
  font-family: 'K2D', sans-serif;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.2rem;

}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: 650;
}

h4 {
  font-size: 0.7rem;
  padding-left: 86.3%;
  font-weight: 350;


}
h5 {
  font-size: 0.4rem;
  padding-left: 1%;
}

ul {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 650;
  animation-duration: 2s;
  animation-name: slidein;

}

ul.description{
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: #040404;

}



@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem; /* 1rem * 16px = 16px */
  color: #0a0909;
}
.wrapper {
  margin: auto;
  max-width: 75rem; /* 75rem = 75 * 16px = 1200px */
}
aside,
footer,
header,
main,
section {
  display: block;
  margin: 0;
  padding: 1.25rem; /* 1.25 * 16 = 20px */
  border: 1px solid #fcfcfc;
  color: #040404;
}
main {
  background: #fff;
  border: 0.8px solid #fa34f4;
  margin: 0.5% 1%;
  padding-top: 1%;

  
}
.header {
  background: #fffefe;
}
.hero {
 
  text-decoration: none;
  background: #fffefe;
  height: 500px;
  padding: 10px 40px;

}


@media screen and (min-width: 1000px) { /* declaración de media query: de 640px hacia arriba */
  .flex-container {
      display: flex;
  }
}

.footer,
.sidebar {
  border: none;
  background-size: cover;
}
.footer {
  background: #fefdfd;
}
.texto-centrado {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}


.DI {
  text-decoration: none;
  background-image: url(images/2.gif);
  background-position: center center;
  background-size: cover;


}



/* MENU */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #080808;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 24px;
  display: flex;
}

.navbar-links {
  list-style: none;
  padding: 10px 20px;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.description {
  list-style: none;
  text-decoration: none;
  padding-left: 86%;
  padding-top: 80px;
  transition: all .35s ease;
  display: grid;
  color: #050505;
}



@media (max-width: 768px) { /* media query: de 768 pixeles hacia abajo */
  .navbar-links {
      display: none;
      flex-direction: row;
      position: absolute;
      top: 115px;
      left: 0;
      width: 100%;
      background-color: #f6f6f6;
      text-align: center;
  }

  .navbar-links.active {
      display: flex;
  }

  .navbar-toggle {
      display: flex;
  }
}

